<plugin name='artisteer' version='1.4.1' grailsVersion='1.3.4 &gt; *'>
  <author>Per Sundberg, Kushal Likhi</author>
  <authorEmail>contact@webinventions.se</authorEmail>
  <title>Artisteer plugin</title>
  <description>\
Plugin that provides a simple script for unpacking artisteer zip file templates to grails. The plugin automatically
unzips the template, creates a corresponding gsp layout file which links to an unpacked version of the artisteer template.
The gsp contains applyLayout links to other layouts that the user can customize which includes footer, title, and menurendering.
Examples of tags that can be used can be found under each corresponding layout file.
The plugin also provides a controller which makes it possible to upload templates on the fly with a controller.
The plugin is however at this stage only meant to work offline to import templates from artisteer. It works with artisteer 2.5,
and haven't been tried with artisteer 3.0. Please find the sources on github: https://github.com/webinventions/artisteergrailsplugin
</description>
  <documentation>http://grails.org/plugin/artisteerplugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>se.webinventions.plugins.artisteer.TemplateController</resource>
    <resource>se.webinventions.plugins.artisteer.Template</resource>
    <resource>se.webinventions.plugins.artisteer.TemplateService</resource>
    <resource>artisteerplugin.ArtisteerTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>